.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(163deg, transparent 0px, transparent 1px, #793535 1px, #793535 14px, transparent 14px), linear-gradient(161deg, transparent 0px, #181818 1px, #793535 2px, #793535 15px, transparent 15px), linear-gradient(343deg, transparent 0px, transparent 1px, #793535 1px, #793535 14px, transparent 14px), linear-gradient(343deg, transparent 0px, transparent 1px, #793535 1px, #793535 14px, transparent 14px);
    background-color: #000000;
    background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px;
    background-size: 48px 30px;
    opacity: 90%;
    flex-direction: column;
    color: white;
}

.window{
    width: 65vh;
    height: 65vh;
    background-color: aqua;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    width: 60vh;
    height: 60vh;
    border: 6px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
    flex-direction: column;
}

.border textarea{
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
}

.border button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin: 0 1rem;
}
.border button:hover{
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}